<div class="user-page">
  <h2>Posts & Comments</h2>
  <div class="user-info">
    <div class="image">
      <img src="<%= @user.photo %>" alt="<%= @user.name %>">
    </div>
    <div class="name">
      <h3 class="username"><%= @user.name %></h3>
      <p class="posts-counter">Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <div class="new-post">
    <%= link_to 'Add Your Post', new_user_post_path(@user), class: 'new-post-button' %>
  </div>

  <div class="posts-container">
    <ul class="posts-list">
      <% @user.posts.each do |post| %>
        <li class="post-with-comments">
          <%= link_to user_post_path(@user, post), class: "post-link" do %>
            <div class="post-info">
              <h4 class="post-id">Post #<%= post.id %></h4>
              <p class="post-text"><%= post.text %></p>
              <div class="stats">
                <div class="comments-counter">Comments: <%= post.commentscounter %></div>
                <div class="likes-counter">Likes: <%= post.likescounter %></div>
                <div class="delete-container">
                 <% if can?(:destroy, post) %>
                  <%= button_to "Delete Post", user_post_path(@user, post), method: :delete, data: { confirm: "Delete post?" }, class: "delete-button" %>
                <% end %>
              </div>
              </div>
            </div>
          <% end %>

          <div class="comments-container">
            <% if post.comments.any? %>
              <ul class="comments-list">
                <% post.comments.each do |comment| %>
                  <li class="comment-info">
                    <p class="comment-text"><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>
                    <div class="delete-container comment">
              <% if can?(:destroy, comment) %>
                <%= button_to "Delete Comment", user_post_comment_path(@user, post, comment), method: :delete, data: { confirm: "Delete comment?" }, class: "delete-button comment" %>
              <% end %>
            </div>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p class="comment-info available">No comments available</p>
            <% end %>
          </div>

          <div class="comments-likes">
            <%= button_to "💗", user_post_likes_path(@user, post_id: post.id), class: 'like-button' %>
            <%= link_to "Add Comment", new_user_post_comment_path(@user, post), class: 'new-comment-button' %>
          </div>
        </li>
        <hr>
      <% end %>
    </ul>
  </div>

  <div class="pagination">
    <button id="pagination-button">Pagination</button>
  </div>
</div>
