<div class="user-page">
<h2>The Post</h2>
<div class="thepost-container">
  
  <div class="thepost-header">
    <h4 class="post-id thepost">Post #<%= @post.id %> by <%= @post.author.name %></h4>
    <div class="stats thepost">
      <div class="comments-counter">Comments: <%= @post.commentscounter %></div>
      <div class="likes-counter">Likes: <%= @post.likescounter %></div>
    </div>
  </div>
  <p class="post-text-thepost"><%= @post.text %></p>
</div>

<div class="comments-container-thepost">
  <% if @post.comments.any? %>
    <ul class="posts-list">
      <% @post.comments.each do |comment| %>
        <li class="comment-info">
          <p class="comment-text"><strong><%= comment.user.name %>:</strong> <%= comment.text %></p>          
        </li>
      <% end %>
  <% else %>
    <p class="comment-info available">No comments available</p>
  <% end %>
    <ul>
</div>
</div>